<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav>
	  <ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="lookup.html">Chatbot ID Lookup</a></li>
	  </ul>
	</nav>
	<header>
		<h1>Vanderbilt Dining Chatbot Instance</h1>
		<p>Start chatting down below!</p>
	</header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div id="chatbox" class="border">
                    <p class="botText"><span>VU Dining Chatbot at your service!!</span></p>
                    {% if id %}
                    <p class="botText"><span>Your chatbot ID is {{id}}. Please save this ID to refer to this conversation later.</span></p>
                    {% endif %}
                </div>
                <div id="userInput">
                    <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here">
                    <input id="buttonInput" class="button" type="submit" value="Send">
                </div>
            </div>
        </div>

        <script>
        function getResponse() {
            let userText = $("#textInput").val();
            let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", { msg: userText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getResponse();
            }
        });
        $("#buttonInput").click(function() {
            getResponse();
        });

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
</body>
</html>