<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vanderbilt Dining Chatbot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<nav>
	  <ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="lookup.html">Chatbot ID Lookup</a></li>
	  </ul>
	</nav>
	<header>
		<h1>Welcome to Vanderbilt Dining Chatbot</h1>
		<p>Click the button below to start!</p>
        <form action="/my-link/">
            <input type="submit" value="Click me" class="button"/>
        </form>
	</header>
</body>
</html>
