<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot ID Lookup</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav>
	  <ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="lookup.html">Chatbot ID Lookup</a></li>
	  </ul>
	</nav>
	<header>
		<h1>Chatbot ID Lookup</h1>
		<p>Enter your specific Chatbot ID down below!</p>
	</header>
	<div id="userInput">
		<input id="textInput" class="lookupInput" type="text" name="msg" placeholder="Enter Your ID Here">
		<input id="buttonInput" class="button" type="submit" value="Submit">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div id="chatbox" class="border">
					<p class="botText"><span>Here is your chat history!</span></p>
				</div>
			</div>
		</div>

		<script>
		function getConvo() {
			let userText = $("#textInput").val();
			$.get("/id", { msg: userText }).done(function(data) {
				data = data.replace(/"/g, '');
				data = data.replace(/'/g, '"');
				var chat_data = JSON.parse(data);
				var len = Object.keys(chat_data).length;
				for (let i = 0; i < len; i++) {
					userMsg = chat_data[i]["user"];
					var userHtml = '<p class="userText"><span>' + userMsg + '</span></p>';
					$("#chatbox").append(userHtml);
					document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
					botMsg = chat_data[i]["bot"];
					var botHtml = '<p class="botText"><span>' + botMsg + '</span></p>';
					$("#chatbox").append(botHtml);
					document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
				}
			});
		}
		$("#textInput").keypress(function(e) {
			if(e.which == 13) {
				getConvo();
			}
		});
		$("#buttonInput").click(function() {
			getConvo();
		});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>